* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 0;
}

.todo {
    font-weight: bold;
    font-size: 1.5rem;

}

.done {
    text-decoration: line-through;
}
